.homepage{
   margin: 0 auto;
   padding:  0 50px;
   text-align: center;
}
   
.gutter-example .ant-row > div {
    background: transparent;
    border: 0;
  }
.gutter-box {
    background: #efefef;
    padding: 5px 0;
    height: 60px;
    border-radius: 10px;
}

.data-content{
    padding: 10px;
    text-align: left;
}