$red-text = #FF4672
$blue-green-text = #35E8E8
$orange-text = #FF9431
$green-text = #2CBE44
$blue-text = #34b8ff
$blue = #2479FF
$blue-hover = darken($blue, 10%)
$border-color = rgba(66, 136, 255, 0.2)